@{
	Layout = "layout_Football";
}
<head>
	<link rel="stylesheet" href="~/css/_standings.css">
</head>

@model List<Team>
	<head>
		<meta charset="utf-8" />
		<title>Standings</title>
		</head>
		<body>

	<table>
		<thead>
			<tr>
				<th>No.</th>
				@*<th>Logo</th>*@
				<th scope="col" class="px-6 py-3 text-left tracking-wider">Name</th>
				<th scope="col" class="px-6 py-3 text-left tracking-wider">MP</th>
				<th scope="col" class="px-6 py-3 text-left tracking-wider">W</th>
				<th scope="col" class="px-6 py-3 text-left tracking-wider">D</th>
				<th scope="col" class="px-6 py-3 text-left tracking-wider">L</th>
				<th scope="col" class="px-6 py-3 text-left tracking-wider">Pts</th>
				<th scope="col" class="px-6 py-3 text-left tracking-wider">GF</th>
				<th scope="col" class="px-6 py-3 text-left tracking-wider">GA</th>
				<th scope="col" class="px-6 py-3 text-left tracking-wider">GD</th>
				<th scope="col" class="px-6 py-3 text-left tracking-wider">Last 5</th>
			</tr>
		</thead>
		<tbody>
			@if (Model != null && Model.Count > 0)
			{
				@foreach (var Team in Model)
				{
					<tr>
						<td class="px-6 py-4 whitespace-nowrap">#</td>
						@*<td class="flex px-6 py-4 whitespace-nowrap"><img class="w-5" src="@Team.Logo" alt="Logo" />@Team.Logo</td>*@
						<td class="px-6 py-4 whitespace-nowrap">@Team.Name</td>
						<td class="px-6 py-4 whitespace-nowrap">@Team.GamesPlayed</td>
						<td class="px-6 py-4 whitespace-nowrap">@Team.Wins</td>
						<td class="px-6 py-4 whitespace-nowrap">@Team.Draws</td>
						<td class="px-6 py-4 whitespace-nowrap">@Team.Looses</td>
						<td class="px-6 py-4 whitespace-nowrap">@Team.Points</td>
						<td class="px-6 py-4 whitespace-nowrap">@Team.GoalsScored</td>
						<td class="px-6 py-4 whitespace-nowrap">@Team.GoalsConcieved</td>
						<td class="px-6 py-4 whitespace-nowrap">@Team.GoalsScored - @Team.GoalsConcieved</td>
						<td class="px-6 py-4 whitespace-nowrap">#######</td>
					</tr>
				}
			}
			else
			{
				<p>No matches available.</p>
			}
		</tbody>
	</table>
</body></html>