
@{
    ViewData["Title"] = "Standings";
    Layout = "~/Views/Shared/layout_Football.cshtml";
}

<head>
	<link rel="stylesheet" href="~/css/Standings.css">
</head>

@model List<Team>

<div class="container">
	<table id="playersTable">
		<thead>
			<tr>
				<th>No.</th>
				<th>Logo</th>
				<th scope="col" class="px-6 py-3 text-left tracking-wider">Name</th>
				<th scope="col" class="px-6 py-3 text-left tracking-wider">MP</th>
				<th scope="col" class="px-6 py-3 text-left tracking-wider">W</th>
				<th scope="col" class="px-6 py-3 text-left tracking-wider">D</th>
				<th scope="col" class="px-6 py-3 text-left tracking-wider">L</th>
				<th scope="col" class="px-6 py-3 text-left tracking-wider">Pts</th>
				<th scope="col" class="px-6 py-3 text-left tracking-wider">GF</th>
				<th scope="col" class="px-6 py-3 text-left tracking-wider">GA</th>
				<th scope="col" class="px-6 py-3 text-left tracking-wider">GD</th>
				<th scope="col" class="px-6 py-3 text-left tracking-wider">Last 5</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="px-6 py-4 whitespace-nowrap">#</td>
				<td class="flex px-6 py-4 whitespace-nowrap"><img class="w-5" src="p6.jpg" alt="Logo" />p6.jpg</td>
				<td class="px-6 py-4 whitespace-nowrap">Soikey</td>
				<td class="px-6 py-4 whitespace-nowrap">99</td>
				<td class="px-6 py-4 whitespace-nowrap">99</td>
				<td class="px-6 py-4 whitespace-nowrap">0</td>
				<td class="px-6 py-4 whitespace-nowrap">0</td>
				<td class="px-6 py-4 whitespace-nowrap">200</td>
				<td class="px-6 py-4 whitespace-nowrap">100</td>
				<td class="px-6 py-4 whitespace-nowrap">2</td>
				<td class="px-6 py-4 whitespace-nowrap">98</td>
				<td class="px-6 py-4 whitespace-nowrap">#######</td>
			</tr>
			<tr>
				<td class="px-6 py-4 whitespace-nowrap">#</td>
				<td class="flex px-6 py-4 whitespace-nowrap"><img class="w-5" src="../css/p5.jpg" alt="Logo" />image</td>
				<td class="px-6 py-4 whitespace-nowrap">Fuad</td>
				<td class="px-6 py-4 whitespace-nowrap">23</td>
				<td class="px-6 py-4 whitespace-nowrap">123</td>
				<td class="px-6 py-4 whitespace-nowrap">0</td>
				<td class="px-6 py-4 whitespace-nowrap">0</td>
				<td class="px-6 py-4 whitespace-nowrap">200</td>
				<td class="px-6 py-4 whitespace-nowrap">100</td>
				<td class="px-6 py-4 whitespace-nowrap">2</td>
				<td class="px-6 py-4 whitespace-nowrap">98</td>
				<td class="px-6 py-4 whitespace-nowrap">#######</td>
			</tr>

			@if (Model != null && Model.Count > 0)
			{
				@foreach (var Team in Model)
				{
					<tr>
						<td class="px-6 py-4 whitespace-nowrap">#</td>
						<td class="flex px-6 py-4 whitespace-nowrap"><img class="w-5" src="p6.jpg" alt="Logo" />p6.jpg</td>
						<td class="px-6 py-4 whitespace-nowrap">@Team.Name</td>
						<td class="px-6 py-4 whitespace-nowrap">@Team.GamesPlayed</td>
						<td class="px-6 py-4 whitespace-nowrap">@Team.Wins</td>
						<td class="px-6 py-4 whitespace-nowrap">@Team.Draws</td>
						<td class="px-6 py-4 whitespace-nowrap">@Team.Looses</td>
						<td class="px-6 py-4 whitespace-nowrap">@Team.Points</td>
						<td class="px-6 py-4 whitespace-nowrap">@Team.GoalsScored</td>
						<td class="px-6 py-4 whitespace-nowrap">@Team.GoalsConcieved</td>
						<td class="px-6 py-4 whitespace-nowrap">@Team.GoalsScored - @Team.GoalsConcieved</td>
						<td class="px-6 py-4 whitespace-nowrap">#######</td>
					</tr>
				}
			}
			@*else
			{
			<p>No teams available.</p>
			}*@
		</tbody>
	</table>


	<link url="Datatables/css/jquery.dataTables.min.css" rel="stylesheet" />

	@SectionWriters scripts{
		$(document).ready(function){
			$("#playersTable").DataTable(
				{
					"ajax": {
						"url": "/Players/GetList",
						"type": "GET",
						"datatype": "json"
					},
					"columns": [
						{ "data": "Name"},
						{ "data": "MP"},
						{ "data": "W"},
						{ "data": "D"},
						{ "data": "L"},
						{ "data": "Pts"},
						{ "data": "GF"},
						{ "data": "GA"},
						{ "data": "GD"},
						{ "data": "Last 5"}

					]
				}
			)
		}
	}


</div>
